/* ＝＝＝＝＝＝＝＝＝＝＝
全体の設定と汎用的なクラス
＝＝＝＝＝＝＝＝＝＝＝＝*/
body{
    font-size: 17px;
    color: #3e3e3e;
    line-height: 2;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color: #f7f7f7;
}
html{
    scroll-behavior: smooth;
}
a{
    color: #337ab7;
    text-decoration: none;
}
a:hover{
    opacity: 0.6;
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
汎用クラス
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.inner{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.title{
    font-size: 25px;
    border-left: 9px solid #23527c;
    padding: 10px 25px 10px ;
    margin-bottom: 50px;
    background-color: #f7f7f7;
    margin-left: 50px;
    margin-right: 50px;
}

h3{
    font-size: 22px;
    border-left: 7px solid #23527c;
    padding: 10px 25px 10px;
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

footer{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
}

img {
    width: 100%;
    height: auto;
}
.w300 {
    width: 300px;
}

.oya{
    background-image: url(../img/vertua.jpg);
    width: 300px;
    height: 225px;
    background-size: cover;
    background-position:center;
}

@media screen and (max-width:520px){
    .title{
        margin-left: 5%;
        margin-right: 5%;
    }
}
/* ＝＝＝＝＝＝＝＝＝＝＝
header
＝＝＝＝＝＝＝＝＝＝＝＝*/
header .inner{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #fff;
}

header .inner a{
    color: #7b7b7b;
    font-size: 22px;
}
/* ＝＝＝＝＝＝＝＝＝＝＝
category
＝＝＝＝＝＝＝＝＝＝＝＝*/
.category ul{
    display: flex;
}

.category ul li:first-child{
    width: 200px;
    text-align: center;
    line-height: 40px;
    list-style: none;
}

.category ul li:not(:first-child){
    width: 200px;
    text-align: center;
    line-height: 40px;
    border-left: solid 1px #fff;
    list-style: none;
}

.category ul li a{
    background-color: #23527c;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-size: 14px;
    font-weight: bold;
}
@media screen and (max-width:520px){
    .category ul li a{
        font-size: 12px;
        font-weight:lighter;
    }
}/*======max-width:520px==========*/
/* ＝＝＝＝＝＝＝＝＝＝＝＝
Profile
＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.top_about .inner{
    padding-bottom: 50px;
    padding-top: 50px;
}

.top_about .top_about_wrap{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.top_about .top_about_wrap .Profile{
    width: 50%;
}

.top_about table{
    width: 100%;
} 
.top_about table th,
.top_about table td{
    border: 1px solid #7f7f7f;
    padding: 10px ;
}
.top_about table th{
    width: 110px;
    color: #337ab7;
    background-color: #f4fbff;
    font-weight: normal;
    vertical-align: middle;
}

.top_about .birthphoto{
    width: 50%;
}

.top_about .birthphoto figure .w300{
    margin-left: auto;
    margin-right: auto;
}
.top_about .birthphoto figure figcaption{
    text-align: center;
}

@media screen and (max-width:520px){
    .top_about .top_about_wrap{
        flex-direction: column;
    }
    .top_about .top_about_wrap .Profile{
        width: 100%;
        margin-bottom: 50px;
    }
    .top_about .top_about_wrap .birthphoto{
        width: 100%;
    }
    .top_about .top_about_wrap .birthphoto figure{
        margin-bottom: 30px;
    }
}
/* ＝＝＝＝＝＝＝＝＝＝＝
コンテンツ
＝＝＝＝＝＝＝＝＝＝＝＝*/
.top_hobby .inner{
    background-color: #fff;
    padding-bottom: 25px;
}

.top_hobby .box ul{
    list-style-position: inside; 
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px dashed #337ab7;
    margin: 20px 50px 50px;
    background-color: #F8F9FF;
    /* width: 80%; */
}

.top_hobby .box_under{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /* width: 98%; */
    /* background-color: #23527c; */
}

.top_hobby .Running figure:nth-child(3) img,
.top_hobby .Game figure:not(:nth-child(3)) img,
.top_hobby .Travel figure:nth-child(3) img{
    height: 225px;
}

@media screen and (max-width:520px){
    .box_under{
        flex-direction: column;
    }
    .box_under figure{
        margin-bottom: 30px;
    }
    .box_under figure .w300,
    .box_under figure .oya{
        margin-left: auto;
        margin-right: auto;
    }
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝
フッター
＝＝＝＝＝＝＝＝＝＝＝＝ */
footer .inner{
    background-color: #23527c;
}
footer .footerlogo{
    /* background-color: #3e3e3e; */
    text-align: center;
}

footer .footerlogo p a{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 70px;
}

footer .footer_under ul{
    list-style: inside;
    color: #fff;
    padding-left: 430px;
}

footer .footer_under ul a{
    color: #fff;
}
footer .footer_down{
    background-color: #23527c;
    color: #fff;
    line-height: 50px;
    text-align: center;
}
@media screen and (max-width:520px){
    .box_under{
        flex-direction: column;
    }
    .box_under figure{
        margin-bottom: 30px;
    }
    .box_under figure .w300,
    .box_under figure .oya{
        margin-left: auto;
        margin-right: auto;
    }
    footer .footer_under ul{
        list-style: inside;
        color: #fff;
        padding-left: 200px;
    }
}
